In [348]:
import pandas as pd

In [349]:
ou = pd.read_excel('/home/dsc/Galician_fires/Complementary data/Distribucion_terras/Distribucion_terras_ourense.xlsx')
ou.columns = map(lambda x: str(x).lower(), ou.columns)
ou['municipio'] = ou['municipio'].str.upper()
ou.head()

,codigo,municipio,ano,superficie total do concello,superficie forestal total,forestal arborizado,"pasteiro, pasteiro arbustivo e mato",superficie de cultivo e prado,outras superficies
0,32,OURENSE,2006,727341,526766,287187,239578,125500,75075
1,32,OURENSE,2007,727341,538247,284575,253673,116679,72415
2,32,OURENSE,2008,727341,538069,285131,252938,116781,72491
3,32,OURENSE,2009,727341,538187,285390,252797,116506,72648
4,32,OURENSE,2010,727341,538596,285834,252762,115423,73322

In [350]:
po= pd.read_excel('/home/dsc/Galician_fires/Complementary data/Distribucion_terras/Distribucion_terras_pontevedra.xlsx')
po.columns = map(lambda x: str(x).lower(), po.columns)
po['municipio'] = po['municipio'].str.upper()
po.head()

,codigo,municipio,ano,superficie total do concello,superficie forestal total,forestal arborizado,"pasteiro, pasteiro arbustivo e mato",superficie de cultivo e prado,outras superficies
0,36,PONTEVEDRA,2006,449574,290874,210100,80773,92097,66603
1,36,PONTEVEDRA,2007,449574,293034,216886,76148,90615,65924
2,36,PONTEVEDRA,2008,449574,292309,217669,74640,89859,67405
3,36,PONTEVEDRA,2009,449574,291768,217278,74489,89510,68296
4,36,PONTEVEDRA,2010,449574,291439,217184,74255,89030,69105

In [351]:
co= pd.read_excel('/home/dsc/Galician_fires/Complementary data/Distribucion_terras/Distribucion_terras_coruña.xlsx')
co.columns = map(lambda x: str(x).lower(), co.columns)
co['municipio'] = co['municipio'].str.upper()
co.head()

,codigo,municipio,ano,superficie total do concello,superficie forestal total,forestal arborizado,"pasteiro, pasteiro arbustivo e mato",superficie de cultivo e prado,outras superficies
0,15,A CORUÑA,2006,795327,469084,383689,85395,219160,107083
1,15,A CORUÑA,2007,795327,476769,392712,84057,215168,103390
2,15,A CORUÑA,2008,795327,474249,391888,82361,216331,104746
3,15,A CORUÑA,2009,795327,474170,391521,82649,216187,104970
4,15,A CORUÑA,2010,795327,475005,393851,81154,214614,105708

In [352]:
lu= pd.read_excel('/home/dsc/Galician_fires/Complementary data/Distribucion_terras/Distribucion_terras_lugo.xlsx')
lu.columns = map(lambda x: str(x).lower(), lu.columns)
lu['municipio'] = lu['municipio'].str.upper()
lu.head()

,codigo,municipio,ano,superficie total do concello,superficie forestal total,forestal arborizado,"pasteiro, pasteiro arbustivo e mato",superficie de cultivo e prado,outras superficies
0,27,LUGO,2006,985600,627295,438944,188351,284423,73882
1,27,LUGO,2007,985600,638059,447226,190833,277201,70340
2,27,LUGO,2008,985600,636131,448611,187521,278413,71056
3,27,LUGO,2009,985600,637676,451587,186089,276677,71247
4,27,LUGO,2010,985600,638185,452688,185498,276133,71282

In [353]:
gal = [co, lu, ou, po]
gal = pd.concat(gal)
gal

,codigo,municipio,ano,superficie total do concello,superficie forestal total,forestal arborizado,"pasteiro, pasteiro arbustivo e mato",superficie de cultivo e prado,outras superficies
0,15,A CORUÑA,2006,795327,469084,383689,85395,219160,107083
1,15,A CORUÑA,2007,795327,476769,392712,84057,215168,103390
2,15,A CORUÑA,2008,795327,474249,391888,82361,216331,104746
3,15,A CORUÑA,2009,795327,474170,391521,82649,216187,104970
4,15,A CORUÑA,2010,795327,475005,393851,81154,214614,105708
...,...,...,...,...,...,...,...,...,...
1031,36057,VIGO,2015,10906,3731,..,..,1316,5859
1032,36057,VIGO,2016,10906,3727,..,..,1315,5864
1033,36057,VIGO,2017,10906,3728,..,..,1314,5864
1034,36057,VIGO,2018,10906,3728,..,..,1312,5865
1035,36057,VIGO,2019,10906,3708,..,..,1314,5883

In [354]:
gal[gal['codigo']==15039]

,codigo,municipio,ano,superficie total do concello,superficie forestal total,forestal arborizado,"pasteiro, pasteiro arbustivo e mato",superficie de cultivo e prado,outras superficies
392,15039,IRIXOA,2006,6823,4735,4108,627,1524,563
393,15039,IRIXOA,2007,6823,4793,4165,628,1488,542
394,15039,IRIXOA,2008,6823,4788,4169,619,1503,531
395,15039,IRIXOA,2009,6823,4773,4156,617,1505,544
396,15039,IRIXOA,2010,6823,4774,4165,609,1513,536
397,15039,IRIXOA,2011,6823,4777,4160,617,1503,542
398,15039,IRIXOA,2012,6823,4734,..,..,1529,559
399,15039,IRIXOA,2013,6823,4734,..,..,1529,560
400,15039,IRIXOA,2014,6859,4768,..,..,1520,570
401,15039,IRIXOA,2015,6859,4771,..,..,1518,570
402,15039,IRIXOA,2016,6859,4763,..,..,1521,575
403,15039,IRIXOA,2017,6859,4767,..,..,1519,573
404,15039,IRIXOA,2018,6859,4769,..,..,1517,573
405,15039,IRIXOA,2019,6859,4766,..,..,1520,573

In [126]:
gal.dtypes

codigo                                  int64
municipio                              object
ano                                     int64
superficie total do concello           object
superficie forestal total              object
forestal arborizado                    object
pasteiro, pasteiro arbustivo e mato    object
superficie de cultivo e prado          object
outras superficies                     object
dtype: object

In [355]:
gal['codigo']=gal['codigo'].astype(str)

gal['idprovincia']=gal['codigo'].str[0:2]
gal['idmunicipio']=gal['codigo'].str[2:5]

In [357]:
gal['length'] = gal.codigo.str.len()
gal[gal['codigo']=='15039']

,codigo,municipio,ano,superficie total do concello,superficie forestal total,forestal arborizado,"pasteiro, pasteiro arbustivo e mato",superficie de cultivo e prado,outras superficies,idprovincia,idmunicipio,length
392,15039,IRIXOA,2006,6823,4735,4108,627,1524,563,15,039,5
393,15039,IRIXOA,2007,6823,4793,4165,628,1488,542,15,039,5
394,15039,IRIXOA,2008,6823,4788,4169,619,1503,531,15,039,5
395,15039,IRIXOA,2009,6823,4773,4156,617,1505,544,15,039,5
396,15039,IRIXOA,2010,6823,4774,4165,609,1513,536,15,039,5
397,15039,IRIXOA,2011,6823,4777,4160,617,1503,542,15,039,5
398,15039,IRIXOA,2012,6823,4734,..,..,1529,559,15,039,5
399,15039,IRIXOA,2013,6823,4734,..,..,1529,560,15,039,5
400,15039,IRIXOA,2014,6859,4768,..,..,1520,570,15,039,5
401,15039,IRIXOA,2015,6859,4771,..,..,1518,570,15,039,5
402,15039,IRIXOA,2016,6859,4763,..,..,1521,575,15,039,5
403,15039,IRIXOA,2017,6859,4767,..,..,1519,573,15,039,5
404,15039,IRIXOA,2018,6859,4769,..,..,1517,573,15,039,5
405,15039,IRIXOA,2019,6859,4766,..,..,1520,573,15,039,5

In [343]:
gal=gal.drop(gal[gal.length != 5].index, axis=0)
gal

,codigo,municipio,ano,superficie total do concello,superficie forestal total,forestal arborizado,"pasteiro, pasteiro arbustivo e mato",superficie de cultivo e prado,outras superficies,idprovincia,idmunicipio,length
28,15006,ARZÚA,2006,15543,6969,6618,351,6958,1616,15,006,5
29,15006,ARZÚA,2007,15543,7069,6653,417,6890,1583,15,006,5
30,15006,ARZÚA,2008,15543,6911,6590,321,7041,1590,15,006,5
31,15006,ARZÚA,2009,15543,6938,6634,303,7013,1592,15,006,5
32,15006,ARZÚA,2010,15543,6936,6621,315,6973,1633,15,006,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1031,36057,VIGO,2015,10906,3731,..,..,1316,5859,36,057,5
1032,36057,VIGO,2016,10906,3727,..,..,1315,5864,36,057,5
1033,36057,VIGO,2017,10906,3728,..,..,1314,5864,36,057,5
1034,36057,VIGO,2018,10906,3728,..,..,1312,5865,36,057,5
1035,36057,VIGO,2019,10906,3708,..,..,1314,5883,36,057,5

In [344]:
gal[gal['codigo']==15039]

Empty DataFrame
Columns: [codigo, municipio, ano, superficie total do concello, superficie forestal total, forestal arborizado, pasteiro, pasteiro arbustivo e mato, superficie de cultivo e prado, outras superficies, idprovincia, idmunicipio, length]
Index: []

In [278]:
gal['idmunicipio']= pd.to_numeric(gal['idmunicipio'], downcast='integer')
gal['idprovincia']= pd.to_numeric(gal['idprovincia'], downcast='integer')

In [279]:
gal.dtypes

codigo                                 object
municipio                              object
ano                                     int64
superficie total do concello           object
superficie forestal total              object
forestal arborizado                    object
pasteiro, pasteiro arbustivo e mato    object
superficie de cultivo e prado          object
outras superficies                     object
idprovincia                              int8
idmunicipio                             int16
length                                  int64
dtype: object

In [280]:
gal

,codigo,municipio,ano,superficie total do concello,superficie forestal total,forestal arborizado,"pasteiro, pasteiro arbustivo e mato",superficie de cultivo e prado,outras superficies,idprovincia,idmunicipio,length
28,15006,ARZÚA,2006,15543,6969,6618,351,6958,1616,15,6,5
29,15006,ARZÚA,2007,15543,7069,6653,417,6890,1583,15,6,5
30,15006,ARZÚA,2008,15543,6911,6590,321,7041,1590,15,6,5
31,15006,ARZÚA,2009,15543,6938,6634,303,7013,1592,15,6,5
32,15006,ARZÚA,2010,15543,6936,6621,315,6973,1633,15,6,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1031,36057,VIGO,2015,10906,3731,..,..,1316,5859,36,57,5
1032,36057,VIGO,2016,10906,3727,..,..,1315,5864,36,57,5
1033,36057,VIGO,2017,10906,3728,..,..,1314,5864,36,57,5
1034,36057,VIGO,2018,10906,3728,..,..,1312,5865,36,57,5
1035,36057,VIGO,2019,10906,3708,..,..,1314,5883,36,57,5

In [287]:
dfg.dtypes

id                   int64
superficie         float64
fecha               object
lat                float64
lng                float64
latlng_explicit      int64
idcomunidad          int64
idprovincia          int64
idmunicipio          int64
municipio           object
causa                int64
causa_supuesta     float64
causa_desc           int64
muertos            float64
heridos            float64
time_ctrl            int64
time_ext             int64
personal             int64
medios               int64
gastos             float64
perdidas           float64
ano                 object
dtype: object

In [281]:
df = pd.read_csv('/home/dsc/Galician_fires/fires-all.csv')
dfg = df[df['idcomunidad']==3]
dfg

,id,superficie,fecha,lat,lng,latlng_explicit,idcomunidad,idprovincia,idmunicipio,municipio,...,causa_supuesta,causa_desc,muertos,heridos,time_ctrl,time_ext,personal,medios,gastos,perdidas
1202,2001150021,5.00,2001-02-20,43.703581,-8.038777,1,3,15,22,CEDEIRA,...,1.0,30,NaN,NaN,235,270,14,2,NaN,7013.0
1203,2001150088,1.50,2001-02-24,42.936918,-9.114350,1,3,15,34,DUMBRÍA,...,1.0,0,NaN,NaN,470,530,14,1,NaN,1497.0
1204,2001150090,3.00,2001-02-25,42.643031,-8.939252,1,3,15,67,"POBRA DO CARAMIÑAL, A",...,1.0,0,NaN,NaN,185,220,14,3,NaN,1882.0
1205,2001150094,1.50,2001-02-25,43.186836,-8.685470,1,3,15,19,CARBALLO,...,1.0,0,NaN,NaN,125,135,5,0,NaN,1028.0
1206,2001150111,3.80,2001-02-25,42.917476,-9.082862,1,3,15,45,MAZARICOS,...,1.0,1,NaN,NaN,1050,1051,14,1,NaN,3119.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81478,2015360747,1.45,2015-09-06,42.103959,-8.522512,1,3,36,50,SALVATERRA DE MIÑO,...,1.0,0,NaN,NaN,92,486,16,3,2012.0,6198.0
81479,2015360751,1.00,2015-09-06,42.157695,-8.397080,1,3,36,34,"NEVES, AS",...,1.0,0,NaN,NaN,404,420,15,1,1509.0,430.0
81480,2015360770,5.94,2015-09-08,42.554722,-8.018586,1,3,36,16,DOZÓN,...,1.0,1,NaN,NaN,87,194,18,3,1541.0,0.0
81481,2015360794,3.20,2015-09-28,42.243441,-8.322375,1,3,36,13,COVELO,...,1.0,0,NaN,NaN,89,428,21,4,5805.0,0.0
81482,2015360819,2.26,2015-12-27,42.658303,-8.268949,1,3,36,52,SILLEDA,...,1.0,5,NaN,NaN,70,85,7,0,908.0,0.0

In [288]:
dfg['ano']=dfg['fecha'].str[0:4]
dfg['ano']= pd.to_numeric(dfg['ano'], downcast='integer')
dfg['ano']

<ipython-input-288-d9aa30ae852f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfg['ano']=dfg['fecha'].str[0:4]
<ipython-input-288-d9aa30ae852f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfg['ano']= pd.to_numeric(dfg['ano'], downcast='integer')

1202     2001
1203     2001
1204     2001
1205     2001
1206     2001
         ...
81478    2015
81479    2015
81480    2015
81481    2015
81482    2015
Name: ano, Length: 24587, dtype: int16

In [289]:
dfg.columns

Index(['id', 'superficie', 'fecha', 'lat', 'lng', 'latlng_explicit',
       'idcomunidad', 'idprovincia', 'idmunicipio', 'municipio', 'causa',
       'causa_supuesta', 'causa_desc', 'muertos', 'heridos', 'time_ctrl',
       'time_ext', 'personal', 'medios', 'gastos', 'perdidas', 'ano'],
      dtype='object')

In [313]:
gz = pd.merge(dfg, gal, on = ['idprovincia','idmunicipio','ano'], how ='left')
gz.shape

(24588, 31)

In [314]:
gz.columns

Index(['id', 'superficie', 'fecha', 'lat', 'lng', 'latlng_explicit',
       'idcomunidad', 'idprovincia', 'idmunicipio', 'municipio_x', 'causa',
       'causa_supuesta', 'causa_desc', 'muertos', 'heridos', 'time_ctrl',
       'time_ext', 'personal', 'medios', 'gastos', 'perdidas', 'ano', 'codigo',
       'municipio_y', 'superficie total do concello',
       'superficie forestal total', 'forestal arborizado',
       'pasteiro, pasteiro arbustivo e mato', 'superficie de cultivo e prado',
       'outras superficies', 'length'],
      dtype='object')

In [315]:
gz[gz['ano']==2008]

,id,superficie,fecha,lat,lng,latlng_explicit,idcomunidad,idprovincia,idmunicipio,municipio_x,...,ano,codigo,municipio_y,superficie total do concello,superficie forestal total,forestal arborizado,"pasteiro, pasteiro arbustivo e mato",superficie de cultivo e prado,outras superficies,length
16984,2008150001,5.16,2008-01-27,42.971510,-7.953572,0,3,15,83,TOQUES,...,2008,15083,TOQUES,7792,5595,1823,3772,2187,9,5.0
16985,2008150007,8.23,2008-02-10,43.206767,-8.158413,0,3,15,63,OZA DOS RÍOS,...,2008,15063,OZA DOS RÌOS,7192,4346,3172,1174,2298,548,5.0
16986,2008150008,1.00,2008-02-10,42.971510,-7.953572,0,3,15,83,TOQUES,...,2008,15083,TOQUES,7792,5595,1823,3772,2187,9,5.0
16987,2008150011,1.00,2008-02-12,42.686091,-8.785263,0,3,15,72,RIANXO,...,2008,15072,RIANXO,5885,3650,3265,385,1575,660,5.0
16988,2008150013,1.47,2008-02-13,43.287868,-8.068270,0,3,15,39,IRIXOA,...,2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17691,2008360682,1.20,2008-12-24,42.627302,-7.934374,1,3,36,47,RODEIRO,...,2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17692,2008360685,3.00,2008-12-25,42.679228,-8.257182,1,3,36,52,SILLEDA,...,2008,36052,SILLEDA,16796,7787,5671,2116,6781,2228,5.0
17693,2008360688,1.00,2008-12-26,42.681691,-8.251026,1,3,36,52,SILLEDA,...,2008,36052,SILLEDA,16796,7787,5671,2116,6781,2228,5.0
17694,2008360691,2.00,2008-12-26,42.636434,-8.228724,1,3,36,52,SILLEDA,...,2008,36052,SILLEDA,16796,7787,5671,2116,6781,2228,5.0
17695,2008360693,3.00,2008-12-26,42.340583,-8.309023,1,3,36,13,COVELO,...,2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [360]:
gal[(gal['idprovincia']==15) & (gal['idmunicipio']==39)]

Empty DataFrame
Columns: [codigo, municipio, ano, superficie total do concello, superficie forestal total, forestal arborizado, pasteiro, pasteiro arbustivo e mato, superficie de cultivo e prado, outras superficies, idprovincia, idmunicipio, length]
Index: []

In [333]:
gal[gal['codigo']==15039]

Empty DataFrame
Columns: [codigo, municipio, ano, superficie total do concello, superficie forestal total, forestal arborizado, pasteiro, pasteiro arbustivo e mato, superficie de cultivo e prado, outras superficies, idprovincia, idmunicipio, length]
Index: []

In [358]:
co[co['codigo']==15039]

,codigo,municipio,ano,superficie total do concello,superficie forestal total,forestal arborizado,"pasteiro, pasteiro arbustivo e mato",superficie de cultivo e prado,outras superficies
392,15039,IRIXOA,2006,6823,4735,4108,627,1524,563
393,15039,IRIXOA,2007,6823,4793,4165,628,1488,542
394,15039,IRIXOA,2008,6823,4788,4169,619,1503,531
395,15039,IRIXOA,2009,6823,4773,4156,617,1505,544
396,15039,IRIXOA,2010,6823,4774,4165,609,1513,536
397,15039,IRIXOA,2011,6823,4777,4160,617,1503,542
398,15039,IRIXOA,2012,6823,4734,..,..,1529,559
399,15039,IRIXOA,2013,6823,4734,..,..,1529,560
400,15039,IRIXOA,2014,6859,4768,..,..,1520,570
401,15039,IRIXOA,2015,6859,4771,..,..,1518,570
402,15039,IRIXOA,2016,6859,4763,..,..,1521,575
403,15039,IRIXOA,2017,6859,4767,..,..,1519,573
404,15039,IRIXOA,2018,6859,4769,..,..,1517,573
405,15039,IRIXOA,2019,6859,4766,..,..,1520,573

In [298]:
gz[['municipio_x','municipio_y']]

                 municipio_x         municipio_y
0                    CEDEIRA                 NaN
1                    DUMBRÍA                 NaN
2      POBRA DO CARAMIÑAL, A                 NaN
3                   CARBALLO                 NaN
4                  MAZARICOS                 NaN
...                      ...                 ...
24583     SALVATERRA DE MIÑO  SALVATERRA DE MIÑO
24584              NEVES, AS            AS NEVES
24585                  DOZÓN               DOZÓN
24586                 COVELO                 NaN
24587                SILLEDA             SILLEDA

[24588 rows x 2 columns]