In [1]:
import pandas as pd

In [42]:
dfl = pd.read_excel('Distribucion_terras_lugo.xlsx')
dfl['Municipio']=dfl['Municipio'].str.upper()
dfl

,Code,Municipio,Año,Superficie total do concello,Superficie forestal total,Forestal arborizado,"Pasteiro, Pasteiro arbustivo e Mato",Superficie de cultivo e prado,Outras superficies
0,27,LUGO (TOTAL),2006,985600,627295,438944,188351,284423,73882
1,27,LUGO (TOTAL),2007,985600,638059,447226,190833,277201,70340
2,27,LUGO (TOTAL),2008,985600,636131,448611,187521,278413,71056
3,27,LUGO (TOTAL),2009,985600,637676,451587,186089,276677,71247
4,27,LUGO (TOTAL),2010,985600,638185,452688,185498,276133,71282
...,...,...,...,...,...,...,...,...,...
1129,27040,PALAS DE REI,2015,19968,10735,..,..,7769,1464
1130,27040,PALAS DE REI,2016,19968,10736,..,..,7776,1456
1131,27040,PALAS DE REI,2017,19968,10744,..,..,7793,1431
1132,27040,PALAS DE REI,2018,19968,10715,..,..,7794,1459
1133,27040,PALAS DE REI,2019,19968,10699,..,..,7795,1474

In [48]:
dfl.columns = map(lambda x: str(x).lower(), dfl.columns)

In [50]:
dfl['municipio'].unique()

array(['LUGO (TOTAL)', 'OS ANCARES', 'BARALLA', 'BECERRE·', 'CERVANTES',
       'NAVIA DE SUARNA', 'NOGAIS', 'PEDRAFITA DO CEBREIRO', 'CHANTADA',
       'CARBALLEDO', 'TABOADA', 'A FONSAGRADA', 'BALEIRA',
       'NEGUEIRA DE MUÒIZ', 'LUGO', 'CASTROVERDE', 'O CORGO', 'FRIOL',
       'GUNTÌN', 'OUTEIRO DE REI', 'PORTOMARÌN', 'RABADE',
       'A MARIÑA CENTRAL', 'ALFOZ', 'BURELA', 'FOZ', 'LOURENZ·',
       'MONDOÑEDO', 'VALADOURO', 'A MARIÑA OCCIDENTAL', 'CERVO', 'OUROL',
       'VICEDO', 'VIVEIRO', 'XOVE', 'A MARIÑA ORIENTAL', 'BARREIROS',
       'PONTENOVA', 'RIBADEO', 'TRABADA', 'MEIRA', 'POL',
       'RIBEIRA DE PIQUÌN', 'RIOTORTO', 'QUIROGA', 'FOLGOSO DO COUREL',
       'RIBAS DE SIL', 'SARRIA', 'INCIO', 'LÁNCARA', 'PARADELA',
       'O P·RAMO', 'SAMOS', 'TRIACASTELA', 'TERRA CHÁ', 'ABADÌN',
       'BEGONTE', 'CASTRO DE REI', 'COSPEITO', 'GUITIRIZ', 'MURAS',
       'A PASTORIZA', 'VILALBA', 'XERMADE', 'TERRA DE LEMOS', 'BÛVEDA',
       'MONFORTE DE LEMOS', 'PANTÛN', 'A POBRA DO BROLLÛN', 'O SAVIÒAO',
       'SOBER', 'A ULLOA', 'ANTAS DE ULLA', 'MONTERROSO', 'PALAS DE REI'],
      dtype=object)

In [51]:
dfc = pd.read_excel('Distribucion_terras_coruña.xlsx')
dfc['Municipio']=dfc['Municipio'].str.upper()
dfc

,Codigo,Municipio,Ano,Superficie total do concello,Superficie forestal total,Forestal arborizado,"Pasteiro, Pasteiro arbustivo e Mato",Superficie de cultivo e prado,Outras superficies
0,Total,A CORUÑA,2006,795327,469084,383689,85395,219160,107083
1,15,A CORUÑA,2007,795327,476769,392712,84057,215168,103390
2,15,A CORUÑA,2008,795327,474249,391888,82361,216331,104746
3,15,A CORUÑA,2009,795327,474170,391521,82649,216187,104970
4,15,A CORUÑA,2010,795327,475005,393851,81154,214614,105708
...,...,...,...,...,...,...,...,...,...
1591,15077,SANTA COMBA,2015,20370,9334,..,..,9576,1460
1592,15077,SANTA COMBA,2016,20370,9324,..,..,9587,1459
1593,15077,SANTA COMBA,2017,20370,9340,..,..,9562,1468
1594,15077,SANTA COMBA,2018,20370,9328,..,..,9586,1456
1595,15077,SANTA COMBA,2019,20370,9366,..,..,9522,1482

In [53]:
dfc.columns = map(lambda x: str(x).lower(), dfc.columns)

In [54]:
dfc['municipio'].unique()

array(['A CORUÑA', 'ARZÚA', 'BOIMORTO', 'O PINO', 'TOURO', 'BARBANZA',
       'BOIRO', 'A POBRA DO CARAMIÑAL', 'RIANXO', 'RIBEIRA', 'A BARCALA',
       'A BAÒA', 'NEGREIRA', 'BERGANTIÑOS', 'CABANA DE BERGANTIÑOS',
       'CARBALLO', 'CORISTANCO', 'A LARACHA', 'LAXE',
       'MALPICA DE BERGANTIÑOS', 'MALPICA DE BERGANTIÒOS', 'PONTECESO',
       'BETANZOS', 'ARANGA', 'CESURAS', 'COIRÛS', 'CURTIS', 'IRIXOA',
       'MIÒO', 'OZA DOS RÌOS', 'OZA-CESURAS', 'PADERNE', 'VILARMAIOR',
       'VILASANTAR', 'ABEGONDO', 'ARTEIXO', 'BERGONDO', 'CAMBRE',
       'CARRAL', 'CULLEREDO', 'OLEIROS', 'SADA', 'EUME', 'CABANAS',
       'A CAPELA', 'MONFERO', 'PONTEDEUME',
       'AS PONTES DE GARCÌA RODRÌGUEZ', 'FERROL', 'ARES', 'CEDEIRA',
       'FENE', 'MOECHE', 'MUGARDOS', 'NARÓN', 'NEDA', 'SAN SADURNIÑO',
       'AS SOMOZAS', 'VALDOVIÑO', 'FISTERRA', 'CEE', 'CORCUBIÓN',
       'DUMBRÌA', 'MUXÍA', 'MUROS', 'CARNOTA', 'NOIA', 'LOUSAME', 'OUTES',
       'PORTO DO SON', 'ORDES', 'CERCEDA', 'FRADES', 'MESÌA', 'OROSO',
       'TORDOIA', 'TRAZO', 'ORTEGAL', 'CARIÑO', 'CERDIDO', 'MAÒÛN',
       'ORTIGUEIRA', 'SANTIAGO', 'AMES', 'BOQUEIXÓN', 'BRIÛN',
       'SANTIAGO DE COMPOSTELA', 'TEO', 'VAL DO DUBRA', 'VEDRA', 'O SAR',
       'DODRO', 'PADRÛN', 'ROIS', 'TERRA DE MELIDE', 'MELIDE', 'SANTISO',
       'SOBRADO', 'TOQUES', 'TERRA DE SONEIRA', 'CAMARIÑAS', 'VIMIANZO',
       'ZAS', 'XALLAS', 'MAZARICOS', 'SANTA COMBA'], dtype=object)

In [55]:
rios = pd.read_excel('/home/dsc/Galician_fires/Complementary data/RIOS_GALICIA.xlsx')
rios

,Provincia,Municipio,Rio,Longitud (Km),Afluentes,Afluente de
0,A Coruña,Soandres,Anllóns,55,NaN,NaN
1,A Coruña,Laracha,Anllóns,55,NaN,NaN
2,A Coruña,Canduas,Anllóns,55,NaN,NaN
3,A Coruña,Cerdeda,Anllóns,55,NaN,NaN
4,A Coruña,Carballo,Anllóns,55,NaN,NaN
...,...,...,...,...,...,...
236,Lugo,Monforte de Lemos,Mao,30,NaN,Cabe
237,Lugo,Pedrafita do Cebreiro,Lor,50,NaN,Miño
238,Lugo,Folgoso do Courel,Lor,50,NaN,Miño
239,Lugo,A Pobra do Brollón,Lor,50,NaN,Miño
240,Lugo,Quiroga,Lor,50,NaN,Miño

In [56]:
rios.columns = map(lambda x: str(x).lower(), rios.columns)

In [60]:
rios['provincia']=rios['provincia'].str.upper()
rios['municipio']=rios['municipio'].str.upper()
rios['rio']=rios['rio'].str.upper()
rios

,provincia,municipio,rio,longitud (km),afluentes,afluente de
0,A CORUÑA,SOANDRES,ANLLÓNS,55,NaN,NaN
1,A CORUÑA,LARACHA,ANLLÓNS,55,NaN,NaN
2,A CORUÑA,CANDUAS,ANLLÓNS,55,NaN,NaN
3,A CORUÑA,CERDEDA,ANLLÓNS,55,NaN,NaN
4,A CORUÑA,CARBALLO,ANLLÓNS,55,NaN,NaN
...,...,...,...,...,...,...
236,LUGO,MONFORTE DE LEMOS,MAO,30,NaN,Cabe
237,LUGO,PEDRAFITA DO CEBREIRO,LOR,50,NaN,Miño
238,LUGO,FOLGOSO DO COUREL,LOR,50,NaN,Miño
239,LUGO,A POBRA DO BROLLÓN,LOR,50,NaN,Miño
240,LUGO,QUIROGA,LOR,50,NaN,Miño

In [30]:
rios['Municipio'].unique()

array(['SOANDRES', 'LARACHA', 'CANDUAS', 'CERDEDA', 'CARBALLO',
       'CORISTANCO', 'PONTECESO', 'CABANA DE BERGANTIÑOS', 'ABADÍN',
       'XERMADE', 'MURAS', 'AS PONTES DE GARCÍA RODRÍGUEZ', 'MONFERO',
       'A CAPELA', 'CABANAS', 'PONTEDEUME', 'LOURENZÁ', 'TRABADA',
       'BARREIROS', 'RIBADEO', 'SOMOZAS', 'MOECHE', 'SAN SADURNIÑO',
       'XUBIA', 'NARON', 'NEDA', 'PONTEVEDRA', 'FORCAREI', 'CERDEDO',
       'CAMPO LAMEIRO', 'COTOBADE', 'LIMIA', 'A BAIXA LIMIA',
       'XINZO DE LIMIA', 'SOBRADO DOS MONXES', 'ARANGA', 'CURTIS',
       'IRIXOA', 'COIRÓS', 'PADERNE', 'BETANZOS', 'OZA-CESURAS',
       'ABEGONDO', 'BERGONDO', 'CAMBRE', 'CULLEREDO', 'OLEIROS',
       'SOBRADO', 'VILASANTAR', 'BOIMORTO', 'MESÍA', 'FRADES', 'ARZÚA',
       'O PINO', 'OROSO', 'ORDES', 'TRAZO', 'TORDOIA',
       'SANTIAGO DE COMPOSTELA', 'VAL DO DUBRA', 'AMES', 'TROITOSENDRE',
       'BRIÓN', 'NEGREIRA', 'OUTES', 'NOIA', 'ANTAS DE ULLA',
       'MONTERROSO', 'CATOIRA', 'TABOADA', 'PALAS DE REI', 'AGOLADA',
       'SANTISO', 'VILA DE CRUCES', 'TOURO', 'BOSQUEIXÓN', 'SILLEDA',
       'A ESTRADA', 'VEDRA', 'TEO', 'PADRÓN', 'PONTECESURES', 'DODRO',
       'VALGA', 'LALIN', 'RODEIRO', 'BEARIZ', 'O IRIXO', 'ROIS', 'CUNTIS',
       'MORAÑA', 'CALDAS DE REIS', 'PORTAS', 'VILANOVA DE AROUSA', 'MEIS',
       'RIBADUMIA', 'CAMBADOS', 'A LAMA', 'SANTA COMBA', 'MAZARICOS',
       'ZAS', 'VIMIANZO', 'DUMBRÍA', 'CARNOTA', 'MEIRA', 'A PASTORIZA',
       'CASTRO DO REI', 'COSPEITO', 'RÁBADE', 'OUTEIRO DO REI', 'LUGO',
       'O CORGO', 'GUNTÍN', 'O PÁRAMO', 'PORTOMARÍN', 'PARADELA',
       'O SAVIÑAO', 'CHANTADA', 'PANTÓN', 'CARBALLEDO', 'A PEROXA',
       'NOGUEIRA DE RAMUÍN', 'O PEREIRO DE AGUILAR', 'COLES', 'OURENSE',
       'BARBADÁS', 'TOÉN', 'PUNXÍN', 'CENLLE', 'CASTRELO DO MIÑO',
       'RIBADAVIA', 'A ARNOIA', 'CORTEGADA', 'CRECENTE', 'ARBO',
       'AS NEVES', 'SALVATERRA DO MIÑO', 'TUI', 'TOMIÑO', 'O ROSAL',
       'A GUARDA', 'AVIÓN', 'BORBORÁS', 'LEIRO', 'O CARBALLIÑO', 'BEADE',
       'FRIOL', 'GUITIRIZ', 'BEGONTE', 'VILAR DE BARRIO',
       'BAÑOS DE MOLGAS', 'XUNQUEIRA DE AMBÍA', 'ALLARIZ', 'A MERCA',
       'CELANOVA', 'RAMIRÁS', 'CARTELLE', 'GOMESENDE', 'BALEIRA',
       'BARALLA', 'LÁNCARA', 'TRIACASTELA', 'SAMOS', 'SARRIA', 'PÁRAMO',
       'RUBIÁ', 'CARBALLEDA DE VALDEORRAS', 'O BARCO DE VALDEORRAS',
       'VILAMARTÍN DE VALDEORRAS', 'PETÍN', 'A RÚA', 'LAROUCO', 'QUIROGA',
       'RIBAS DO SIL', 'A POBRA DO BROLLÓN', 'MONFORTE DE LEMOS',
       'CASTRO CALDELAS', 'SOBER', 'A TEIXEIRA', 'PARADA DE SIL',
       'VIANA DO BOLO', 'O BOLO', 'MANZANEDA', 'A POBRA DE TRIVES',
       'O INCIO', 'PEDRAFITA DO CEBREIRO', 'FOLGOSO DO COUREL'],
      dtype=object)

In [16]:
df = pd.read_csv('/home/dsc/Galician_fires/fires-all.csv')
df = df[df['idcomunidad']==3]
df

,id,superficie,fecha,lat,lng,latlng_explicit,idcomunidad,idprovincia,idmunicipio,municipio,...,causa_supuesta,causa_desc,muertos,heridos,time_ctrl,time_ext,personal,medios,gastos,perdidas
1202,2001150021,5.00,2001-02-20,43.703581,-8.038777,1,3,15,22,CEDEIRA,...,1.0,30,NaN,NaN,235,270,14,2,NaN,7013.0
1203,2001150088,1.50,2001-02-24,42.936918,-9.114350,1,3,15,34,DUMBRÍA,...,1.0,0,NaN,NaN,470,530,14,1,NaN,1497.0
1204,2001150090,3.00,2001-02-25,42.643031,-8.939252,1,3,15,67,"POBRA DO CARAMIÑAL, A",...,1.0,0,NaN,NaN,185,220,14,3,NaN,1882.0
1205,2001150094,1.50,2001-02-25,43.186836,-8.685470,1,3,15,19,CARBALLO,...,1.0,0,NaN,NaN,125,135,5,0,NaN,1028.0
1206,2001150111,3.80,2001-02-25,42.917476,-9.082862,1,3,15,45,MAZARICOS,...,1.0,1,NaN,NaN,1050,1051,14,1,NaN,3119.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81478,2015360747,1.45,2015-09-06,42.103959,-8.522512,1,3,36,50,SALVATERRA DE MIÑO,...,1.0,0,NaN,NaN,92,486,16,3,2012.0,6198.0
81479,2015360751,1.00,2015-09-06,42.157695,-8.397080,1,3,36,34,"NEVES, AS",...,1.0,0,NaN,NaN,404,420,15,1,1509.0,430.0
81480,2015360770,5.94,2015-09-08,42.554722,-8.018586,1,3,36,16,DOZÓN,...,1.0,1,NaN,NaN,87,194,18,3,1541.0,0.0
81481,2015360794,3.20,2015-09-28,42.243441,-8.322375,1,3,36,13,COVELO,...,1.0,0,NaN,NaN,89,428,21,4,5805.0,0.0
81482,2015360819,2.26,2015-12-27,42.658303,-8.268949,1,3,36,52,SILLEDA,...,1.0,5,NaN,NaN,70,85,7,0,908.0,0.0

In [29]:
df['municipio'].unique()

array(['CEDEIRA', 'DUMBRÍA', 'POBRA DO CARAMIÑAL, A', 'CARBALLO',
       'MAZARICOS', 'LOUSAME', 'MUXÍA', 'OUTES', 'CEE', 'MONFERO',
       'PINO, O', 'SAN SADURNIÑO', 'ARTEIXO', 'NOIA', 'ARANGA', 'BRIÓN',
       'SANTIAGO DE COMPOSTELA', 'VILASANTAR', 'TEO',
       'BOQUEIXÓN-CASANOVA', 'BOIRO', 'BAÑA, A', 'SADA', 'NEGREIRA',
       'PADRÓN', 'SANTA COMBA', 'VIMIANZO', 'CABANA DE BERGANTIÑOS',
       'FISTERRA', 'ZAS', 'PADERNE', 'NEDA', 'ORDES', 'FRADES', 'TOURO',
       'VAL DO DUBRA', 'CULLEREDO', 'RIANXO', 'MIÑO', 'CORISTANCO',
       'OLEIROS', 'VILARMAIOR', 'OZA DOS RÍOS', 'CURTIS', 'NARÓN',
       'MELIDE', 'VALDOVIÑO', 'CESURAS', 'AMES', 'TORDOIA', 'CORUÑA, A',
       'LARACHA, A', 'RIBEIRA', 'FERROL', 'PORTO DO SON', 'MESÍA', 'ROIS',
       'TOQUES', 'CARNOTA', 'MUROS', 'ARES', 'CARRAL', 'FENE', 'ABEGONDO',
       'CAMARIÑAS', 'LAXE', 'MALPICA DE BERGANTIÑOS', 'SANTISO', 'TRAZO',
       'PONTECESO', 'ARZÚA', 'SOMOZAS, AS', 'DODRO',
       'PONTES DE GARCIA RODRIGUEZ, AS', 'SOBRADO', 'COIRÓS', 'CERCEDA',
       'IRIXOA', 'BECERREÁ', 'PEDRAFITA DO CEBREIRO', 'SAVIÑAO, O',
       'BARALLA', 'ABADÍN', 'FOLGOSO DO COUREL', 'INCIO, O', 'NOGAIS, AS',
       'CERVANTES', 'ANTAS DE ULLA', 'FOZ', 'CERVO', 'MURAS', 'LUGO',
       'TABOADA', 'GUNTÍN', 'RIBAS DE SIL', 'SOBER',
       'POBLA DO BROLLÓN, A', 'PORTOMARÍN', 'PALAS DE REI', 'FRIOL',
       'CORGO, O', 'MONTERROSO', 'XERMADE', 'VALADOURO, O', 'VILALBA',
       'NAVIA DE SUARNA', 'VICEDO, O', 'GUITIRIZ', 'RÁBADE',
       'FONSAGRADA, A', 'SARRIA', 'CARBALLEDO', 'CASTRO DE REI',
       'QUIROGA', 'RIBEIRA DE PIQUÍN', 'COSPEITO', 'BEGONTE',
       'CASTROVERDE', 'MONFORTE DE LEMOS', 'OUTEIRO DE REI', 'CHANTADA',
       'BÓVEDA', 'MONDOÑEDO', 'XOVE', 'TRIACASTELA', 'PÁRAMO, O', 'SAMOS',
       'NEGUEIRA DE MUÑIZ', 'OUROL', 'ENTRIMO', 'CASTRO CALDELAS',
       'LOBEIRA', 'PIÑOR', 'GUDIÑA, A', 'POBRA DE TRIVES, A',
       'VIANA DO BOLO', 'LOBIOS', 'BANDE', 'CALVOS DE RANDÍN',
       'SAN CRISTOVO DE CEA', 'PADRENDA', 'VEIGA, A',
       'CARBALLEDA DE VALDEORRAS', 'MELÓN', 'VILARDEVÓS', 'MACEDA',
       'VILAMARÍN', 'BALTAR', 'IRIXO, O', 'AVIÓN', 'TOÉN', 'MUIÑOS',
       'CELANOVA', 'CHANDREXA DE QUEIXA', 'SAN XOAN DE RIO', 'VEREA',
       'RAMIRÁS', 'BOLO, O', 'CARBALLEDA DE AVIA', 'RÚA, A',
       'VILAR DE BARRIO', 'MANZANEDA', 'BARCO DE VALDEORRAS, O',
       'VILARIÑO DE CONSO', 'MERCA, A', 'BEARIZ', 'MEZQUITA, A',
       'MONTEDERRAMO', 'RIÓS', 'SAN CIBRAO DAS VIÑAS', 'CASTRELO DO VAL',
       'BOBORÁS', 'VERÍN', 'RUBIÁ', 'LEIRO', 'NOGUEIRA DE RAMUÍN',
       'AMOEIRO', 'CARBALLINO, O', 'PEROXA, A', 'MASIDE', 'BARBADÁS',
       'OURENSE', 'LAZA', 'ESGOS', 'RAIRIZ DE VEIGA', 'CENLLE',
       'VILAMARTÍN DE VALDEORRAS', 'BOLA, A', 'MONTERREI', 'SARREAUS',
       'TABOADELA', 'BLANCOS, OS', 'PORQUEIRA', 'CUALEDRO', 'COLES',
       'CARTELLE', 'ALLARIZ', 'XINZO DE LIMIA', 'TRASMIRAS',
       'PEREIRO DE AGUIAR, O', 'OÍMBRA', 'PARADA DE SIL',
       'BAÑOS DE MOLGAS', 'PUNXÍN', 'XUNQUEIRA DE AMBÍA',
       'VILAR DE SANTOS', 'SANDIÁS', 'TEIXEIRA, A', 'CORTEGADA',
       'LAROUCO', 'XUNQUEIRA DE ESPADANEDO', 'QUINTELA DE LEIRADO',
       'GOMESENDE', 'PETÍN', 'RIBADAVIA', 'PADERNE DE ALLARIZ', 'COVELO',
       'MONDARIZ', 'CAÑIZA, A', 'AGOLADA', 'RODEIRO', 'ESTRADA, A',
       'FORCAREI', 'CERDEDO', 'DOZÓN', 'LALÍN', 'COTOBADE', 'NEVES, AS',
       'SILLEDA', 'LAMA, A', 'MEAÑO', 'POIO', 'CUNTIS', 'CALDAS DE REIS',
       'PONTEAREAS', 'VILA DE CRUCES', 'REDONDELA', 'TOMIÑO', 'VILABOA',
       'VILANOVA DE AROUSA', 'VILAGARCÍA DE AROUSA', 'PONTE CALDELAS',
       'OIA', 'FORNELOS DE MONTES', 'BUEU', 'PONTEVEDRA', 'VALGA',
       'CATOIRA', 'BARRO', 'SOUTOMAIOR', 'GONDOMAR', 'MOAÑA', 'MORAÑA',
       'PAZOS DE BORBÉN', 'ARBO', 'GUARDA, A', 'CRECENTE',
       'ILLA DE AROUSA, A', 'CAMPO LAMEIRO', 'MARÍN', 'CANGAS',
       'PORRIÑO, O', 'VIGO', 'TUI', 'NIGRÁN', 'SANXENXO', 'MAÑÓN',
       'ORTIGUEIRA', 'OROSO', 'BOIMORTO', 'VEDRA', 'CARIÑO', 'PANTÓN',
       'PARADELA', 'LÁNCARA', 'BALEIRA', 'RIOTORTO', 'PASTORIZA, A',
       'PONTENOVA, A', 'POL', 'BEADE', 'SAN AMARO', 'PONTEDEVA', 'MOS',
       'SALCEDA DE CASELAS', 'MONDARIZ-BALNEARIO', 'SALVATERRA DE MIÑO',
       'MEIS', 'PORTAS', 'CAMBADOS', 'PONTECESURES', 'GROVE, O', 'BAIONA',
       'MOECHE', 'BETANZOS', 'CORCUBIÓN', 'MEIRA', 'RIBADEO',
       'CASTRELO DE MIÑO', 'PONTEDEUME', 'CAMBRE', 'BERGONDO', 'MUGARDOS',
       'CERDIDO', 'CAPELA, A', 'ARNOIA, A', 'VIVEIRO', 'TRABADA',
       'ROSAL, O', 'RIBADUMIA', 'CABANAS', 'ALFOZ', 'BURELA', 'LOURENZÁ',
       'PORTUGAL', 'OTRA PROVINCIA', 'BARREIROS'], dtype=object)